.container-fluid {
  width: 100vw;
}

h5, a {
  font-family: 'Bricolage Grotesque', 'Geologica', sans-serif;
}

a {
    font-weight: 900;
}

li a {
    font-weight: 400;
}

i {
    vertical-align: baseline;
}

i.fa-circle-xmark {
  cursor: pointer;
}

nav {
  transition: box-shadow 0.8s ease-out;
}

li a {
  transition: background-color 0.2s ease-out, color 0.1s ease-out, font-weight 0.1s ease-out;
}

li a:hover {
  background-color: #ebebeb;
}

img {
  vertical-align: middle;
}
