<div class="container-fluid sticky-top mx-0 px-0 mt-0 pt-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-xl bg-body-tertiary px-md-5 pb-0 vw-100 mb-2 p-2" [ngClass]="{'shadow': sharedService.scrolled}">
        <div class="container-fluid">
          <a class="navbar-brand fs-4" href="#">
            <img class="img-thumbnail border border-dark rounded-circle" width="50" height="50" [src]="profilePicPath"
                 alt="avatar"/>
            &nbsp; &nbsp; Sujit Aluru
          </a>
          <button title="menu" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" id="navbarNav">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav nav-underline justify-content-end flex-grow-1 pe-0">
                <li *ngFor="let item of headerNav" class="nav-item">
                  <a class="nav-link fs-5 pb-4" data-bs-dismiss="offcanvas" [ngClass]="{'active': sharedService.currPath === item.path}"
                  [routerLink]="[item.path]" (click)="getCurrPath()">
                    <i [class]="'fa-solid ' + item.icon"></i>
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
