a {
    font-family: 'Geologica', sans-serif;
    font-weight: 900;
}

li a {
    font-weight: 400;
}

i {
    vertical-align: baseline;
}

nav {
  transition: all 0.8s ease-out;
}

.nav-link {
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}

.nav-link:hover {
  transform: translateX(2px);
}

img {
  vertical-align: middle;
}
