h1, h2, h3, p, a {
  font-family: 'Geologica', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
}

embed {
  width: 100%;
  height: 500px;
}

.card-btn {
  transition: 0.2s;
}

.card-btn:hover {
  transform: translateY(-5px);
}

.card-fade-in-from-left {
  animation: fade-in-left 0.8s ease-in-out;
}

.card-fade-in-from-right {
  animation: fade-in-right 0.8s ease-in-out;
}

@keyframes fade-in-left {
  0%{
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-50px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0%{
    opacity: 0;
    filter: blur(20px);
    transform: translateX(50px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
