h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

p {
    font-family: 'Bricolage Grotesque', 'Geologica', sans-serif;
    font-weight: 200;
}

.scroll-down {
  animation: goDown 2s ease infinite;
}

.nav-icon {
  font-size: xx-large;
  transition: all 0.2s ease-in-out;
}

.nav-icon-down:hover {
  transform: translateY(10px) scale(1.2);
}

.nav-icon-left:hover {
  transform: translateX(-10px) scale(1.2);
}

.nav-icon-right:hover {
  transform: translateX(10px) scale(1.2);
}

.slide-in-left {
  animation: fade-in-from-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-in-right {
  animation: fade-in-from-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes goDown {
  0% {
    transform: translateY(0);
    background: none;
    color: #212529;
  }
  50% {
    transform: translateY(15px);
    background-color: #212529;
    color: white;
  }
  100% {
    transform: translateY(0);
    background: none;
    color: #212529;
  }

}
