<div class="container-fluid px-lg-5 bg-light vw-100">
  <div #heroSectionContainer class="row mx-auto mt-5 justify-content-center hero-section-container align-items-lg-center">
    <div class="col-12 col-xl-6 text-center"
    [ngClass]="{'order-xl-last': heroImageLeft}">
      <img
        class="img-fluid mb-4 hero-section opacity-0"
        width="600"
        height="600"
        [ngSrc]="'assets/' + heroImage"
        priority="true"
        alt="Hero image"
      />
    </div>
    <div class="col-12 col-xl-6 text-center hero-section opacity-0">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4 mt-0 mb-1">{{ heroText }}</h1>
          <p class="lead fs-3 text-black-50">{{ heroDesc }}</p>
          <button class="btn d-none d-lg-inline-block rounded-5 scroll-down" (click)="goDown()">
            <i class="fa-solid fa-arrow-down fa-2xl py-4 fs-1"></i>
          </button>
        </div>
        <div class="col-12 my-2 mx-auto order-lg-first">
          <a class="btn btn-lg btn-outline-dark border border-dark border-0 rounded-5 nav-icon px-3 mx-4 nav-icon-left" *ngIf="sharedService.prevPage" [routerLink]="'/' + sharedService.prevPage">
            <i class="fa-solid fa-caret-left fa-2xl"></i>
            <i class="fa-solid fa-caret-left fa-xl"></i>
          </a>
          <a class="btn btn-lg btn-outline-dark border border-dark border-0 rounded-5 nav-icon px-3 mx-4 nav-icon-right" *ngIf="sharedService.nextPage" [routerLink]="'/' + sharedService.nextPage">
            <i class="fa-solid fa-caret-right fa-xl"></i>
            <i class="fa-solid fa-caret-right fa-2xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
