  <div class="container-fluid px-lg-5 bg-light vw-100">
    <div class="row mx-auto mt-5 justify-content-center hero-section-container align-items-lg-baseline">
      <div class="col-12 col-xl-6 text-center"
      [ngClass]="{'order-xl-last': heroImageLeft}">
        <img
          class="img-fluid mb-4 hero-section opacity-0"
          width="600"
          height="600"
          [src]="'assets/' + heroImage"
          alt="Hero image"
        />
      </div>
      <div class="col-12 col-xl-6 text-center hero-section opacity-0">
        <h1 class="display-4 mt-0 mb-1">{{ heroText }}</h1>
        <p class="lead fs-3 text-black-50">{{ heroDesc }}</p>
      </div>
    </div>
  </div>
