h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

p {
    font-family: 'Geologica', sans-serif;
    font-weight: 200;
}

.hero-section-animate {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100 % {
    opacity: 1;
    transform: translateY(0);
  }

}
