<div class="container-fluid" (scroll)="onScroll()" (scrollend)="onScrollEnd()">
  <div class="row">
    <div class="col-12 mx-0 px-0">
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="modal fade" id="disclaimerModal" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-4 py-2 mx-3">
        <h1 class="modal-title fs-2 fw-bolder text-uppercase mx-auto text-dark" id="pdfModalLabel">
          Disclaimer
        </h1>
      </div>
      <div class="modal-body mx-2">
        <p class="lead fs-4 fw-lighter">
          For best user-experience, try using the website on a larger screen, a desktop or a laptop!
        </p>
        <a class="btn btn-dark rounded-1 px-3 float-end" data-bs-dismiss="modal">Got it</a>
      </div>
    </div>
  </div>
</div>
