<app-hero [heroImage]="imgPath" [heroText]="heroText" [heroDesc]="heroDesc"
  [heroImageLeft]="false">
</app-hero>

<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-12">
    </div>
  </div>
</div>

<div class="modal fade" id="pdfModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="pdfModalLabel">PREVIEW</h1>
        <a title="close" type="button" class="btn" data-bs-dismiss="modal">
          <i class="fa-solid fa-circle-xmark fa-2xl"></i>
        </a>
      </div>
      <div class="modal-body text-center">
        <embed src="assets/resume/resume.pdf">
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
        <a type="button" class="btn btn-primary text-light" [href]="resumePdfSrc" download="resume_Sujit-Aluru">
            Download &nbsp;
            <i class="fa-solid fa-circle-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div #root class="container">
  <div #resumePreview id="resume-preview" class="container p-4 border border-secondary-subtle mt-3 mb-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 position-relative">
        <button title="pdf preview" type="button" class="btn btn-outline-light rounded-1 position-absolute top-0 start-100 translate-middle"
                data-bs-toggle="modal" data-bs-target="#pdfModal">
          <h6 class="display-6">
            <i class="fa-solid fa-file-pdf text-danger"></i>
          </h6>
        </button>
        <img [src]="resumeSrc" alt="resume" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-12">
    </div>
  </div>
</div>
