<app-hero [heroImage]="imgPath" [heroText]="heroText" [heroDesc]="heroDesc" [heroImageLeft]="true">
</app-hero>

<div class="container mt-5 pt-4 pb-0">
    <div *ngFor="let item of certsProps; let i = index" class="row justify-content-center align-items-xl-center">
        <div class="col-12 col-xl-7 py-4" [ngClass]="{'ms-lg-auto': i % 2 !== 0, 'me-lg-auto': i % 2 === 0}">
            <div (mouseenter)="onMouseHover($event)" (mouseleave)="onMouseHover($event)"
                 class="card mb-5 p-0 shadow-sm bg-body-tertiary rounded border border-secondary-subtle text-center"
                 [id]="'card' + i">
                <div class="card-header py-0 bg-light d-block d-xl-none me-0">
                  <h5 class="card-title fs-2 mb-0 pb-0 text-info-emphasis">
                    {{ item["org"] }}
                  </h5>
                </div>
                <div  [id]="item['org'] + 'Carousel'" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let cert of item['certs']; let i = index" class="carousel-item " [ngClass]="{'active': i === 0}" data-bs-interval="3000">
                            <div class="card-body bg-light">
                                <img [id]="cert['sno']" data-bs-toggle="modal" data-bs-target="#pdfModal"
                                [src]="'../assets/certs/'+ cert.path" class="d-block w-100" [alt]="cert.name">
                            </div>
                            <div class="card-footer py-0 px-0 bg-light d-block d-xl-none text-secondary">
                                <h6 class="fs-4">{{ cert.name }}</h6>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-xl-5 text-center d-none d-xl-block" [ngClass]="{'order-lg-first me-lg-auto': i % 2 !== 0, 'ms-lg-auto': i % 2 === 0}">
          <h3 [id]="'org' + i" class="text-info-emphasis opacity-0 display-4">{{ item["org"] }}</h3>
        </div>
    </div>
</div>

<div class="modal fade" id="pdfModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2 mx-auto text-info-emphasis" id="pdfModalLabel"></h1>
        <button type="button" class="btn" data-bs-dismiss="modal">
          <i class="fa-solid fa-circle-xmark fa-2xl"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <embed>
      </div>
      <div class="modal-footer">
        <h4 class="course-title fs-3 mx-auto"></h4>
      </div>
    </div>
  </div>
</div>
