h1, h3, h4, h5, h6 {
    font-family: 'Geologica', sans-serif;
}

h1, h3 {
    font-weight: 700;
}

h4, h6 {
  font-weight: 300;
}

h5 {
  font-weight: 600;
}

embed {
  width: 100%;
  height: 500px;
}

img {
  cursor: pointer;
}

.display-1 {
  font-weight: 500;
  letter-spacing: 0.4rem;
}

h3.display-4 {
  transition: opacity 1.5s ease-out;
}

.card-header, .card-body, .card-footer {
    border: none;
}

.card {
  border-radius: 15px;
  transition: all 0.5s ease-out, padding 0.5s ease-in-out;
}

.card-hovered {
  transform: translateY(-15px);
}
