.footer {
  position: relative;
  background: #13161A;
  min-height: 100px;
}

.social-icon__link {
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  display: inline-block;
  transition: 0.5s;
  font-weight: 300;
  font-family: 'Geologica', sans-serif;
}

.menu__link:hover {
  color: #fff;
  background-color: #727272;
  border-radius: 5px;
  padding: 2px 5px;
  opacity: 1;
}

.footer p {
  font-weight: 100;
  font-family: 'Geologica', sans-serif;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../../assets/footer wave/wave_bg.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

.fa-linkedin {
    color: #00A0DC;
}

.fa-square-github {
    color: #ffffff;
}

.fa-square-twitter {
    color: #1da1f2;
}

.fa-square-envelope {
    color: #EA4335;
}

.fa-square-phone {
    color: #23fbb3;
}

.fa-copyright {
    color: #fff;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
