<div class="container-fluid mx-0 mt-5 mb-0 px-0 pt-5 pb-0">
  <div class="row">
    <div class="col-12 col-md-7">
      <footer class="footer mt-5 py-3 px-5 vw-100">
        <div class="row justify-content-center align-items-center mt-5">
          <div *ngFor="let wave of footerWaves" class="waves">
            <div class="wave" [id]="wave"></div>
          </div>
          <div class="col-12">
            <ul class="list-group list-group-horizontal flex-wrap mb-4 pb-2 justify-content-center">
              <li *ngFor="let item of footerIcons" class="list-group-item bg-transparent border border-0">
                <a title="social icon" class="social-icon__link display-5" [href]="item.path" target="_blank">
                  <i [ngClass]="{'fa-solid': item.type === 'comm', 'fa-brands': item.type === 'media'}" [class]="'fa-2xl' + item.icon"></i>
                </a>
              </li>
            </ul>
            <ul class="list-group list-group-horizontal d-flex flex-wrap justify-content-center">
              <li *ngFor="let item of footerNav" class="list-group-item bg-transparent border border-0 px-2 py-1">
                <a class="menu__link fs-5 text-light opacity-75 text-decoration-none" [href]="item.path">
                  <i [class]="'fa-solid ' + item.icon"></i> {{ item.name }}
                </a>
              </li>
            </ul>
            <p class="lead text-center text-light mt-3 fs-5">
              <i class="fa-regular fa-copyright fa-xs"></i>
              {{ currentYear }}  <span class="badge text-bg-light p-1">Sujit Aluru</span> All Rights Reserved
              <i class="fa-solid fa-hand-peace text-white"></i>
            </p>
            <p class="lead text-center text-light fs-5">
              Built With Angular <i class="fa-solid fa-xmark fa-xs"></i> Bootstrap
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
